{% include 'todo/main.html' %}

{% block content %}

<div class="container">
     <div class="col-md-center">
        <h2 class="text-center">ToDo App</h2><br>
     </div>
</div>

   <div class="container">
    <div class="row justify-content-md-center">
    <form method="post" action="/">
        {% csrf_token %}
        {{ form.title }}
        {{ form.description }}
    <input class="btn btn-info" type="submit" name="Create Task">
    </form>
    </div>
   </div>

<div class="container">
<div class="card">
  <div class="card-header">
       {% if total_tasks > 0 %}
        Total Tasks:{{ total_tasks }}
    {% else %}
        You have not any task
    {% endif %}
  </div>

<div class="container bg-secondary">
  <ul class="list-group list-group-flush">
      {% for task in tasks %}
    <li class="list-group-item"><div class="container">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                    <a class="btn btn-sm btn-info" href="{% url 'edit_task' task.id %}">Update</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"  aria-controls="collapseOne">

                        {%if task.status%}
                            <strike>{{ task.title }}</strike>
                        {% else %}
                            {{ task.title }}
                        {% endif %}
                      </button>
              </h2>
            </div>
           <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                {{ task.description }}
              </div>
            </div>
          </div>
        </div>
    </div>
        {% endfor %}
    </li>

  </ul>
</div>
</div>
</div>



{% endblock %}